<div id="<%= dom_id felhasznalo %>">
  <p>
    <strong>Nev:</strong>
    <%= felhasznalo.nev %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= felhasznalo.email %>
  </p>

  <p>
    <strong>Jelszo:</strong>
    <%= felhasznalo.jelszo %>
  </p>

</div>
