<h1>Editing felhasznalo</h1>

<%= render "form", felhasznalo: @felhasznalo %>

<br>

<div>
  <%= link_to "Show this felhasznalo", @felhasznalo %> |
  <%= link_to "Back to felhasznalos", felhasznalos_path %>
</div>
