<div id="<%= dom_id hirdet %>">
  <p>
    <strong>Felhaszn:</strong>
    <%= hirdet.felhaszn_id %>
  </p>

  <p>
    <strong>Hirdetes:</strong>
    <%= hirdet.hirdetes_id %>
  </p>

  <p>
    <strong>Mikor:</strong>
    <%= hirdet.mikor %>
  </p>

</div>
