<p style="color: green"><%= notice %></p>

<h1>Hirdets</h1>

<div id="hirdets">
  <% @hirdets.each do |hirdet| %>
    <%= render hirdet %>
    <p>
      <%= link_to "Show this hirdet", hirdet %>
    </p>
  <% end %>
</div>

<%= link_to "New hirdet", new_hirdet_path %>
