<p style="color: green"><%= notice %></p>

<h1>Rates</h1>

<div id="rates">
  <% @rates.each do |rate| %>
    <%= render rate %>
    <p>
      <%= link_to "Show this rate", rate %>
    </p>
  <% end %>
</div>

<%= link_to "New rate", new_rate_path %>
