<h1>Editing mitszallit</h1>

<%= render "form", mitszallit: @mitszallit %>

<br>

<div>
  <%= link_to "Show this mitszallit", @mitszallit %> |
  <%= link_to "Back to mitszallits", mitszallits_path %>
</div>
