<p style="color: green"><%= notice %></p>

<h1>Mitszallits</h1>

<div id="mitszallits">
  <% @mitszallits.each do |mitszallit| %>
    <%= render mitszallit %>
    <p>
      <%= link_to "Show this mitszallit", mitszallit %>
    </p>
  <% end %>
</div>

<%= link_to "New mitszallit", new_mitszallit_path %>
