<div id="<%= dom_id order %>">
  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Advert:</strong>
    <%= order.advert_id %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= order.supplier_id %>
  </p>

</div>
