<div id="<%= dom_id advertise %>">
  <p>
    <strong>User:</strong>
    <%= advertise.user_id %>
  </p>

  <p>
    <strong>Advert:</strong>
    <%= advertise.advert_id %>
  </p>

  <p>
    <strong>Mikor:</strong>
    <%= advertise.mikor %>
  </p>

</div>
