<h1>Editing advertise</h1>

<%= render "form", advertise: @advertise %>

<br>

<div>
  <%= link_to "Show this advertise", @advertise %> |
  <%= link_to "Back to advertises", advertises_path %>
</div>
