<p style="color: green"><%= notice %></p>

<h1>Szallitos</h1>

<div id="szallitos">
  <% @szallitos.each do |szallito| %>
    <%= render szallito %>
    <p>
      <%= link_to "Show this szallito", szallito %>
    </p>
  <% end %>
</div>

<%= link_to "New szallito", new_szallito_path %>
