<header><a href="../" class="ko-es-szikla"><span>Kő és szikla</span></a>
  <ul class="navbar">
    <li class="active">
      <a href="/home" onclick="activateNavItem(this)"
      >Hirdetmények</a
      >
    </li>
    <li><a href="/newads">Új hirdetmény</a></li>
    <li>
      <% if logged_in? %>
      <li><%= link_to "Profil adatok", profile_path %></li>
      <% end %>
    </li>
    <% if logged_in? %>
      <!-- <li><a href="/logout">Kijelentkezés</a></li> -->
      <li><%= link_to "Kijelentkezés", logout_path %></li>
    <% else %>
      <li><%= link_to "Bejelentkezés", login_path %></li>
    <% end %>

    <!-- <li><a href="/login">Bejelentkezés/Kijelentkezés</a></li> -->
    <li><a href="/users/new">Regisztráció</a></li>
  </ul>
</header>