<div id="<%= dom_id rendel %>">
  <p>
    <strong>Felhaszn:</strong>
    <%= rendel.felhaszn_id %>
  </p>

  <p>
    <strong>Hirdetes:</strong>
    <%= rendel.hirdetes_id %>
  </p>

  <p>
    <strong>Szallito:</strong>
    <%= rendel.szallito_id %>
  </p>

</div>
