<h1>Editing kiszallit</h1>

<%= render "form", kiszallit: @kiszallit %>

<br>

<div>
  <%= link_to "Show this kiszallit", @kiszallit %> |
  <%= link_to "Back to kiszallits", kiszallits_path %>
</div>
