<p style="color: green"><%= notice %></p>

<h1>Kiszallits</h1>

<div id="kiszallits">
  <% @kiszallits.each do |kiszallit| %>
    <%= render kiszallit %>
    <p>
      <%= link_to "Show this kiszallit", kiszallit %>
    </p>
  <% end %>
</div>

<%= link_to "New kiszallit", new_kiszallit_path %>
